$blueColor: #2e3a8c;
$greenColor: #3b755f;
$beigeColor: #f2ebdb;
$blackColor: #212121;
$whiteColor: #ffffff;
$lightGreenColor: #afc6bd;
$grayColor: #b0b0b0;
$lightGrayColor: #f9f9f9;
$lightBeigeColor: #f2ebdb;
